.hq-blog-posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: masonry; */
    grid-gap: 30px;
}

@media (max-width: 992px) {
    .hq-blog-posts {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .hq-blog-posts {
        grid-template-columns: 1fr;
    }
}


.hq-blog-posts .blog-post .blog-post-inner {
    box-shadow: 0px 1px 3px rgb(0 0 0 / 10%);
}

.hq-blog-posts .entry_thumb {
    position: relative;
    overflow: hidden;
}

.hq-blog-posts .entry_thumb .post-cat {
    position: absolute;
    width: auto;
    height: auto;
    left: 30px;
    bottom: 20px;
    z-index: 1;
    display: inline-block;
    padding: 0 15px;
    background-color: #5e2ced;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease-in-out;
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 30px;
    text-transform: capitalize;
    border-radius: 2px;
}

.hq-blog-posts .entry_thumb .post-cat:hover {
    transition: all 0.3s ease-in-out;
    color: #fff;
}

.hq-blog-posts .entry_thumb-link img {
    width: 100%;
    vertical-align: bottom;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hq-blog-posts .entry_text {
    padding: 50px 30px;
    color: #6c7a87;
    background-color: #fff;
}

.hq-blog-posts .entry_title {
    font-size: 28px;
    line-height: 32px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 15px;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.hq-blog-posts .entry_title a {
    color: #0b2238;
    text-decoration: none;
    letter-spacing: -1px;
}

.hq-blog-posts .entry_title a:hover,
.hq-blog-posts .entry_title a:focus {
    color: #5e2ced;
}

.hq-blog-posts .entry-excerpt .page-links {
    padding-bottom: 0;
}

.hq-blog-posts .entry_header .post-date {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 600;
    margin: 0 0 5px;
    display: block;
    color: #6c7a87;
}

.hq-blog-posts .entry-excerpt .page-links {
    padding-bottom: 0;
}

.hq-blog-posts .entry_meta-links a::after {
    content: ", ";
}

.hq-blog-posts .entry_meta-links a:last-child::after {
    display: none;
}

.hq-blog-posts .blog-post-inner .readmore {
    position: relative;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.5px;
    color: #6c7a87;
    display: inline-block;
    margin-top: 16px;
    transition: all 0.3s ease-in-out;
    vertical-align: middle;
    overflow: hidden;
}

.hq-blog-posts .blog-post-inner .readmore:hover {
    color: #5e2ced;
}

.hq-blog-posts .blog-post-inner .readmore .hq-arrow {
    width: 24px;
    height: 1px;
    top: 0;
    display: inline-block;
    background-color: #6c7a87;
    -webkit-transition: width .3s ease, transform .3s ease;
    -moz-transition: width .3s ease, transform .3s ease;
    transition: width .3s ease, transform .3s ease;
    vertical-align: middle;
}

.hq-blog-posts .blog-post-inner .readmore .hq-arrow.left {
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
}

.hq-blog-posts .blog-post-inner .readmore .hq-text {
    display: inline-block;
    vertical-align: middle;
    /* font-weight: inherit; */
    margin: 0 10px 0 0;
    -webkit-transition: transform .3s ease;
    -moz-transition: transform .3s ease;
    transition: transform .3s ease;
}

.hq-blog-posts .blog-post-inner .readmore .hq-arrow.right {
    -webkit-transform-origin: right;
    -moz-transform-origin: right;
    transform-origin: right;
}

.hq-blog-posts .blog-post-inner .readmore:hover .hq-text {
    -webkit-transform: translateX(34px);
    -moz-transform: translateX(34px);
    transform: translateX(34px);
    font-weight: inherit;
}

.hq-blog-posts .blog-post-inner .readmore:hover .hq-arrow.left {
    width: 24px
}

.hq-blog-posts .blog-post-inner .readmore:hover .hq-arrow.right {
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    -moz-transform-origin: right;
    transform-origin: right
}