.el-section-heading {
	margin: 0 0 30px 0;
}

.el-cf7-form-wrap {
	position: relative;
	z-index: 1;
}

.el-cf7-form-wrap .overlay {
	background-color: var(--edumentor-dark-bg-color);
	opacity: 0.5;
	z-index: -1;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

/* Form Column */
.wpcf7-form {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -7.5px;
}

.wpcf7-form p {
	margin: 0;
}

.wpcf7-form p:not(:last-of-type) {
	margin-bottom: 15px;
}

.wpcf7-form p {
	flex: 0 0 100%;
	max-width: 100%;
	padding: 0 7.5px;
}

@media (min-width: 767px) {

	.layout-5 .wpcf7 form>p:nth-child(3),
	.layout-5 .wpcf7 form>p:nth-child(4),
	.layout-5 .wpcf7 form>p:nth-child(5),
	.layout-5 .wpcf7 form>p:nth-child(6),
	.layout-4 .wpcf7 form>p:nth-child(3),
	.layout-4 .wpcf7 form>p:nth-child(4),
	.layout-3 .wpcf7 form>p:nth-child(2),
	.layout-3 .wpcf7 form>p:nth-child(3),
	.layout-3 .wpcf7 form>p:nth-child(5),
	.layout-3 .wpcf7 form>p:nth-child(6),
	.layout-2 .wpcf7 form>p:nth-child(2),
	.layout-2 .wpcf7 form>p:nth-child(3),
	.layout-1 .wpcf7 form>p:nth-child(2),
	.layout-1 .wpcf7 form>p:nth-child(3),
	.layout-1 .wpcf7 form>p:nth-child(4),
	.layout-1 .wpcf7 form>p:nth-child(5) {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.layout-6 .wpcf7 form p:not(:last-of-type) {
		flex: 0 0 50%;
		max-width: 50%;
	}
}

/* Input Style */
.wpcf7-form input[type="text"],
.wpcf7-form input[type="email"],
.wpcf7-form input[type="url"],
.wpcf7-form input[type="password"],
.wpcf7-form input[type="search"],
.wpcf7-form input[type="number"],
.wpcf7-form input[type="tel"],
.wpcf7-form input[type="range"],
.wpcf7-form input[type="date"],
.wpcf7-form input[type="month"],
.wpcf7-form input[type="week"],
.wpcf7-form input[type="time"],
.wpcf7-form input[type="datetime"],
.wpcf7-form input[type="datetime-local"],
.wpcf7-form input[type="color"],
.wpcf7-form textarea {
	width: 100%;
	background-color: transparent;
    border: 1px solid #eee;
    color: var(--edumentor-text-color);
    border-radius: 0;
    padding: 10px;
    outline: none;
    box-shadow: none;
    line-height: 1;
    min-height: 50px;
}

.wpcf7-form textarea {
	height: 160px;
}

/* Checkbox */
.el-cf7-form-wrap .wpcf7-acceptance,
.el-cf7-form-wrap .wpcf7-radio,
.el-cf7-form-wrap .wpcf7-checkbox {
	display: flex;
	column-gap: 10px;
}

.el-cf7-form-wrap .wpcf7-acceptance>span,
.el-cf7-form-wrap .wpcf7-radio>span,
.el-cf7-form-wrap .wpcf7-checkbox>span {
	margin: 0;

}

.el-cf7-form-wrap .wpcf7-acceptance>span>label,
.el-cf7-form-wrap .wpcf7-radio>span>label,
.el-cf7-form-wrap .wpcf7-checkbox>span>label {
	display: flex;
	align-items: center;
	column-gap: 10px;
}

.el-cf7-form-wrap .wpcf7-radio input {
	appearance: none;
	font: inherit;
	color: currentColor;
	width: 20px;
	height: 20px;
	border: 1px solid #bbb;
	border-radius: 50%;
	display: grid;
	place-content: center;
	transition: 120ms border ease-in-out;
}

.el-cf7-form-wrap .wpcf7-radio input:hover {
	border: 1px solid var(--edumentor-primary-color);
	transition: 120ms border ease-in-out;
}

.el-cf7-form-wrap .wpcf7-radio input::before {
	background-color: var(--edumentor-primary-color);
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 50%;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
}

.el-cf7-form-wrap .wpcf7-radio input:checked::before {
	transform: scale(1);
}

/* Submit Button */
.wpcf7-form-control.wpcf7-submit {
	background: inherit;
	background-color: var(--edumentor-primary-color);
	cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    outline: none;
    border: none;
    box-shadow: none;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.wpcf7-form-control.wpcf7-submit:hover {
	background-color: var(--edumentor-secondary-color);
	color: #fff;
	text-decoration: none;
	transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.wpcf7 form>p:last-of-type {
	display: flex;
	align-items: center;
}