.hq-counter {
    display: inline-block;
}

.hq-counter-icon-wrap,
.hq-counter-icon,
.hq-counter-icon-divider,
.hq-counter-num-divider {
    display: inline-block;
}

.hq-counter-number-wrap {
    display: flex;
    align-items: center;
}

.counter-center .hq-counter-number-wrap {
    justify-content: center;
}

.counter-right .hq-counter-number-wrap {
    justify-content: flex-end;
}

.hq-counter-icon {
    line-height: 1;
}

.hq-counter-layout-3-number-wrap,
.hq-counter-layout-3 .hq-icon-title-wrap,
.hq-counter-layout-4-number-wrap,
.hq-counter-layout-4 .hq-icon-title-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hq-counter-layout-5,
.hq-counter-layout-6 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hq-counter-layout-6 .hq-counter-icon-wrap {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
}

.hq-counter .hq-icon-title-wrap .hq-counter-title {
    display: inline-block;
}

.hq-counter .hq-counter-number,
.hq-counter .hq-counter-title {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: var(--edumentor-text-color);
}

.hq-counter .hq-counter-number {
    font-size: 30px;
    color: var(--edumentor-heading-color);
    font-weight: 600;
}

/* Layout 7 */
.hq-counter-layout-7 {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 20px;
}

.hq-counter-layout-7 .hq-counter-number-wrap {
    justify-content: flex-start;
    align-items: flex-start;
}

.hq-counter-layout-7 .hq-counter-number {
    vertical-align: inherit;
    margin-top: -2px;
}

.hq-counter-layout-7 .hq-counter-number,
.hq-counter-layout-7 .hq-counter-number-wrap .hq-counter-number-prefix,
.hq-counter-layout-7 .hq-counter-number-wrap .hq-counter-number-suffix {
    font-family: 'Roboto', sans-serif;
    color: var(--edumentor-heading-color);
    font-size: 65px;
    font-weight: 700;
    line-height: 1;
}

.hq-counter-layout-7 .hq-icon-title-wrap {
    text-align: left;
    border-top: 1px solid var(--edumentor-primary-color);
}

.rtl .hq-counter-layout-7 .hq-icon-title-wrap {
    text-align: right;
}

.hq-counter-layout-7 .hq-icon-title-wrap .hq-counter-title {
    font-size: 14px;
    line-height: 26px;
    padding-top: 10px;
}