.newsletter-style-one p {
    color: #798294;
    font-size: 14px;
    line-height: 28px;
    max-width: 605px;
    margin: 0 auto !important;
    width: 100%;
    margin-bottom: 58px;
    margin-top: 16px;
}

.mc4wp-form-fields{
    --hq-mc4wp-height: 50px;
    --hq-mc4wp-btn-gap: 5px;
    position: relative;
}

.hq-mailchimp-style-1 .hq-input-box {
    position: relative;
    max-width: 530px;
    width: 100%;
    margin: 0 auto;
}

.hq-input-box input {
    border: 1px solid #ddd;
    outline: none;
}

.hq-input-box input:hover,
.hq-input-box input:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #999;
}

.hq-input-box input[type="text"],
.hq-input-box input[type="email"] {
    width: 100%;
    height: var(--hq-mc4wp-height);
    outline: none;
}

.hq-input-box input[type="submit"]{
    background-color: #181818;
    height: var(--hq-mc4wp-height);
    color: #fff;
    font-size: 16px;
    line-height: 1;
    padding: 0 20px;
}

.hq-input-box input[type="submit"]:hover,
.hq-input-box input[type="submit"]:focus {
    background-color: #5e2ced;
}

.hq-mailchimp-style-1 .hq-input-box input[type="submit"] {
    position: absolute;
    right: var(--hq-mc4wp-btn-gap);
    top: 50%;
    height: calc(var(--hq-mc4wp-height) - ( var(--hq-mc4wp-btn-gap) * 2 ));
    transform: translateY(-50%);
    outline: none;
    border: 0 none;
    transition: 0.4s;
}

.mc4wp-form input[type*="text"]:hover,
.mc4wp-form input[type*="text"]:focus,
.mc4wp-form input[type*="email"]:hover,
.mc4wp-form input[type*="email"]:focus {
    transition: all 0.35s ease-in-out;
}

/* Newsletter Style Two */

.hq-mailchimp-style-2 .hq-input-box input[type="text"],
.hq-mailchimp-style-2 .hq-input-box input[type="email"] {
    height: var(--hq-mc4wp-height);
}

.hq-mailchimp-style-2 .hq-input-box input[type="submit"] {
    margin-top: var(--hq-mc4wp-btn-gap);
    height: var(--hq-mc4wp-height);
    width: 100%;
    transition: 0.5s;
}

/* Newsletter Style Three */

.hq-input-box form {
    width: 100%;
    overflow: hidden;
}

.hq-mailchimp-style-3{
    --hq-mc4wp-style-3-btn-width: 100px;
}

.hq-mailchimp-style-3 .mc4wp-form-fields {
    position: relative;
    max-width: 580px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr var(--hq-mc4wp-style-3-btn-width);
    gap: var(--hq-mc4wp-btn-gap);
}

.hq-mailchimp-style-3 .mc4wp-form-fields input[type="submit"] {
    height: var(--hq-mc4wp-height);
}

/* Newsletter Style Four */

.hq-mailchimp-style-4 {
    --hq-mc4wp-style-3-btn-width: 60px;
}

.hq-mailchimp-style-4 .mc4wp-form-fields {
    position: relative;
}

.hq-mailchimp-style-4 .hq-input-box input[type="submit"] {
    background-color: #5e2ced;
    background-image: url(../../img/paper-plane.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 15px;
    padding: 0;
    position: absolute;
    right: var(--hq-mc4wp-btn-gap);
    top: 50%;
    width: var(--hq-mc4wp-style-3-btn-width);
    height: calc(var(--hq-mc4wp-height) - ( var(--hq-mc4wp-btn-gap) * 2 ));
    transform: translateY(-50%);
    transition: 0.4s;
    text-indent: -99999px;
    border: none;
    outline: none;
}

@media (max-width: 767px) {
    .hq-mailchimp-style-3 .hq-input-box input {
        max-width: inherit;
        width: auto;
    }
}