.hq-skill-items {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
}

.text-outside .hq-skill-items {
    grid-row-gap: 45px;
    margin-top: 35px;
}

.hq-skill {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-radius: 15px;
    background-color: #eee;
    font-size: .75rem
}

.text-inside .hq-skill-info,
.text-outside .hq-skill-info {
    text-align: left;
    font-size: 14px
}

.text-inside .hq-skill-info>span:first-child() {
    z-index: 1;
}

.text-inside .hq-skill-level-text,
.text-outside .hq-skill-level-text {
    float: right
}

.text-outside .hq-skill-level-text {
    background-color: #5e2ced;
    color: #fff;
    width: 40px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 2px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    margin-top: -5px;
    margin-right: -10px;
    padding-bottom: 5px;
}

.text-outside .hq-skill {
    height: 2px
}

.text-outside .hq-skill-level {
    position: relative
}

.text-outside .hq-skill-info {
    position: absolute;
    top: -30px;
    width: 100%;
    color: #111;
}

.text-inside>.hq-skill {
    height: 30px;
}

.text-inside .hq-skill--wrap {
    padding: 15px;
}

.text-inside .hq-skill-info {
    padding-right: 1rem;
    padding-left: 1rem;
    color: #fff;
}

.hq-skill-level {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 10%;
    border-radius: inherit;
    background-color: #5e2ced;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    -webkit-transition: width .6s ease;
    transition: width .6s ease
}