.hq-heading {
    color: var(--edumentor-heading-color);
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -1px;
    position: relative;
    margin: 0;
    z-index: 1;
}

.hq-heading mark {
    background: inherit;
    color: var(--edumentor-primary-color);
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

.hq-heading:before {
    content: attr(data-bg-text);
    color: rgba(0, 0, 0, 0.09);
    font-size: 60px;
    line-height: 1;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 0;
}

.hq-heading a {
    color: #111;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

.hq-heading a:hover mark,
.hq-heading a:hover {
    color: var(--edumentor-primary-color);
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

.hq-heading .hq-animated-text b {
    color: var(--edumentor-primary-color);
}

/* ===== Pricing List ===== */

.hq-pricing-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.hq-pricing-list li:not(:last-of-type) {
    margin-bottom: 30px;
}

.hq-pricing-list .pricing-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.hq-pricing-list .pricing-header .hq-price,
.hq-pricing-list .pricing-header h4 {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    line-height: 1;
    font-weight: 600;
    color: #111;
    letter-spacing: 0;
    white-space: nowrap;
}

.hq-pricing-list .pricing-header h4 {
    padding-right: 20px;
    margin: 0;
}

.hq-pricing-list .pricing-header .hq-price {
    padding-left: 20px;
}

.hq-pricing-list .pricing-header .pricing-border {
    border-bottom: 1px dashed #4b4b4b;
    width: 100%;
    height: 100%;
}

.hq-pricing-list .pricing-header li p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #4b4b4b;
    letter-spacing: -0.2px;
    margin: 0;
}


/* ===== List Items ===== */
.hq-el-items .hq-el-item {
    --edumentor-list-icon-width: 60px;
    display: grid;
    grid-template-columns: var(--edumentor-list-icon-width) 1fr;
    align-items: flex-start;
    grid-gap: 20px;
}

.hq-el-items.no-icon .hq-el-item,
.list-top .hq-el-items .hq-el-item {
    grid-template-columns: 1fr;
}

.list-top .hq-el-items .hq-el-item .hq-el-list-icon {
    width: var(--edumentor-list-icon-width);
}

.hq-el-items .hq-el-item .hq-el-list-icon {
    background-color: var(--edumentor-primary-color);
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #ffffff;
}

.hq-el-items .hq-el-item .hq-el-list-icon svg,
.hq-el-items .hq-el-item .hq-el-list-icon img {
    width: 30px;
    height: auto;
}

.hq-el-items .hq-el-item .hq-el-list-icon svg {
    fill: #ffffff;
}

.hq-el-items .hq-el-item .hq-el-list-content h3 {
    margin: 0 0 5px;
    font-size: 18px;
    line-height: 1;
    color: var(--edumentor-heading-color);
}

.hq-el-items .hq-el-item .hq-el-list-content p {
    font-size: 17px;
    line-height: 28px;
    letter-spacing: -0.2px;
    color: var(--edumentor-text-color);
    margin: 0;
}


/* ===== Business Hours ===== */

.hq-business-hours .business-hrs-inner {
    -webkit-box-shadow: 0 0.2rem 2.8rem rgba(36, 36, 36, .1);
    -moz-box-shadow: 0 0.2rem 2.8rem rgba(36, 36, 36, .1);
    box-shadow: 0 0.2rem 2.8rem rgba(36, 36, 36, .1);
    padding: 40px;
}

.hq-business-hours .hq-single-hrs:not(:first-of-type) {
    margin-top: 15px;
}

.hq-business-hours .hq-single-hrs span.time {
    float: right;
    font-weight: 600;
    color: var(--edumentor-heading-color);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.hq-business-hours .hq-single-hrs span.day {
    color: var(--edumentor-heading-color);
    font-weight: 800;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.hq-business-hours .hq-single-hrs.closed-day span.time {
    color: #fa2d2d;
}

.hq-business-hours .hq-single-hrs.closed-day span.day {
    color: #fa2d2d;
}

/* ===== Social Icons ===== */
.hq-social-items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.hq-social-items a {
    display: inline-block;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 1;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.hq-social-items a svg {
    fill: currentColor;
    width: 16px;
    transition: all 0.3s ease-in-out;
}

.hq-social-items.style-1 a {
    background-color: var(--edumentor-primary-color);
}

.hq-social-items a:focus,
.hq-social-items a:hover {
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.hq-social-items.style-1 a:before,
.hq-social-items.style-1 a:after {
    background-color: var(--edumentor-dark-bg-color);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: -1;
}

.hq-social-items.style-1 a:before,
.hq-social-items.style-1 a:after {
    height: 50%;
    width: 0;
}

.hq-social-items.style-1 a:after {
    left: auto;
    right: 0;
    top: auto;
    bottom: 0;
}

.hq-social-items.style-1 a:focus:before,
.hq-social-items.style-1 a:focus:after,
.hq-social-items.style-1 a:hover:before,
.hq-social-items.style-1 a:hover:after {
    width: 100%;
}

/* Style 2 */

.hq-social-items.style-2 a {
    background-color: transparent;
    overflow: hidden;
}

.hq-social-items.style-2 a:before {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.hq-social-items.style-2 a:after {
    content: "";
    z-index: -2;
    position: absolute;
    left: 3px;
    top: 3px;
    width: 100%;
    height: 100%;
    transition: all 0.3s 0.2s;
}

.hq-social-items.style-2 a:hover {
    color: #FFFFFF;
}

.hq-social-items.style-2 a:hover svg {
    fill: #fff;
}

.hq-social-items.style-2 a:hover:after {
    transition: all 0.3s;
    left: 0;
    top: 0;
}

.blob-hq-btn__inner {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--edumentor-primary-color);
    border-radius: 2px;
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.blob-hq-btn__blobs {
    position: relative;
    display: block;
    height: 100%;
}

.blob-hq-btn__blob {
    position: absolute;
    top: 2px;
    width: 25%;
    height: 100%;
    background: var(--edumentor-secondary-color);
    border-radius: 100%;
    transform: translate3d(0, 150%, 0) scale(1.7);
    transition: transform 0.45s;
}

.blob-hq-btn__blob:nth-child(1) {
    left: 0%;
    transition-delay: 0s;
}

.blob-hq-btn__blob:nth-child(2) {
    left: 30%;
    transition-delay: 0.08s;
}

.blob-hq-btn__blob:nth-child(3) {
    left: 60%;
    transition-delay: 0.16s;
}

.blob-hq-btn__blob:nth-child(4) {
    left: 90%;
    transition-delay: 0.24s;
}

.hq-social-items.style-2 a:hover .blob-hq-btn__blob {
    transform: translateZ(0) scale(1.7);
}

/* Style 3 */
.hq-social-items.style-3 a{
    background-color: var(--edumentor-dark-bg-color);
    color: #fff;
}

.hq-social-items.style-3 a:hover{
    background-color: var(--edumentor-primary-color);
    color: #fff;
}